//@import "lib/_reset.scss";
@import "dicom_style";
@import "lib/mixin";
@import "lib/grid_static";
@import "general";

// страница товара

$grid-static-width: 1170px;
$w: $grid-static-width;

.contentCarrierDivWithoulLeftMenu {
  width: 1170px;
  margin: 0 auto;
  @extend .mainCarrierDiv_withLeftMenu;

  a {
    color: #19c8ca;
    &:hover {
      color: #000;
    }
  }
  color: #575757;

  .contentCarrierDiv {
    width: 100%;

    .buyGoods {
      padding-top: 30px;
      line-height: 3.1rem;
      font-size: 1.6rem;
      .sliderProduct {
        @include col(400px, $pr: 30px);
        a {
          display: block;
        }
        .review {
          margin-top: 8px;
          position: relative;
          .wrapper {
            width: 100%;
            overflow: hidden;
            a {
              float: left;
              margin-right: 10px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
          .left, .right {
            position: absolute;
            top: 20px;
            height: 40px;
            width: 25px;
            background: rgba(#888888, .7);
            text-align: center;
            cursor: pointer;
            &:hover {
              background: #000;
            }
          }
          .fa {
            color: #fff;
            line-height: 40px;
            font-size: 2.2rem;
          }
          .left {
            left: 0;
            border-radius: 0 5px 5px 0;
          }
          .right {
            right: 0;
            border-radius: 5px 0 0 5px;
          }
        }
      }
      .blockCenter {
        @include col(500px, $pr: 20px);
        position: relative;
        .verticalLine {
          position: absolute;
          width: 1px;
          background: #f4f4f4;
          top: 20px;
          bottom: 20px;
          right: 0;
        }
        h1 {
          font-size: 1.8rem;
          line-height: 2.6rem;
        }
        .shortDescription {
          font-size: 1.6rem;
          line-height: 1;
          margin-top: 30px;
          li {
            @include col(100% / 3);
            padding-right: 20px;
            &:last-child {
              padding-right: 0;
            }
            select {
              margin-top: 8px;
              background: #f4f4f4;
              border: 1px solid #c1c1c1;
              box-shadow: 0px 0px 0px rgba(#19c8ca, 0);
              padding: 10px 0;
              width: 100%;
              text-align: center;
              cursor: pointer;
              &:focus {
                border-color: #19c8ca;
                box-shadow: 0px 0px 4px gba(#19c8ca, 0.15);
              }

            }
          }
        }
        .characteristics {
          margin-top: 30px;
          line-height: 3.1rem;
        }
        .links {
          margin-top: 30px;
          line-height: 3.1rem;
          .tags {
            a {
              text-decoration: underline;
            }
            .fa {
              color: #19c8ca;
            }
          }
        }
      }
      .blockRight {
        @include col($w - 400 - 500, $pl: 20px);
        .price {
          color: #19c8ca;
          font-size: 2.1rem;
          line-height: 1;
          margin-bottom: 25px;
        }
        p {
          .green {
            color: #43af4e;
          }
        }
        .purchase {
          margin-top: 25px;
          > p {
            line-height: 1;
            margin-bottom: 17px;

          }
          .number {
            margin-right: 12px;
            width: 55px;
            //height: 50px;
            float: left;
            .result, .minus, .plus {
              background: #f4f4f4;
              border: 1px solid #c1c1c1;
              text-align: center;
              cursor: pointer;
              &:hover {
                color: #19c8ca;
              }
            }
            .result {
              height: 22px;
              line-height: 22px;
              width: 100%;
              border-radius: 10px 10px 0 0;
              margin-bottom: 4px;
            }
            .minus, .plus {
              height: 24px;
              line-height: 24px;
              width: 26px;
              float: left;
            }
            .minus {
              border-radius: 0 0 0 10px;
              margin-right: 2px;
            }
            .plus {
              border-radius: 0 0 10px 0;
            }
          }
          .purchaseBtn {
            float: left;
            height: 50px;
            line-height: 50px;
            width: 135px;
            text-align: center;
            cursor: pointer;
            font-size: 1.9rem;
            background: #2f2f2f;
            color: #fff;
            border-radius: 10px;
            &:hover {
              background: #19c8ca;
            }
          }
        }

      }
    }
    .productDescription {
      margin-top: 43px;
      line-height: 1.8rem;
      font-size: 1.4rem;
      .title {
        font-size: 1.6rem;
        line-height: 1;
      }
      h2 {
        font-size: 2.8rem;
        line-height: 1;
        margin-top: 38px;
        margin-bottom: 38px;
      }
      p {
        margin-top: 14px;
        &:first-of-type{
          margin-top: 0;
        }
      }
      ul{
        margin-top: 14px;
        li{
          position: relative;
          padding-left: 1.3rem;
          font-size:1.4rem;
          line-height:1.8rem;
          .fa{
            position: absolute;
            left: 0;
            top: .5rem;
            font-size: 1rem;
          }
        }
      }
      .attention{
        margin-top: 14px;
        font-size:1.8rem;
        line-height: 1.8rem;
      }
      img{
        margin: 33px 0;
      }
    }
  }

}


 

 


